/* Hoja de estilo para login.html, registro.php e index.php */

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

h1 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 10px;
}

/* Estilos para login.html */

.login {
  width: 500px;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 20px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: #000;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

/* Estilos para registro.php */

.registro {
  width: 500px;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 20px;
}

input[type="text"],
input[type="number"],
input[type="tel"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: #000;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

/* Estilos para index.php */

.datos {
  margin: 0 auto;
  width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
}

p {
  margin-bottom: 10px;
}
